/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-300.ttf') format('truetype');
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype');
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-600.ttf') format('truetype');
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-900.ttf') format('truetype');
}

:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a18268;
  --color-secondary-light: #cfcfbc;
}

ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.link {
  color: var(--color-primary-light);
}

.link:active,
.link:hover,
.link:focus {
  color: var(--color-brand);
  font-weight: 600;
}

.button {
  width: 238px;
  height: 59px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  font-weight: 600;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:active,
.button:hover,
.button:focus {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.hero-title {
  font-size: 128px;
  font-weight: 900;
  color: var(--color-primary-light);
}

.hero-title .accent,
section .accent {
  color: var(--color-brand);
}

.toUppercase {
  text-transform: uppercase;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  padding: 16px 99px;
  background-color: var(--color-brand);
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.31;
}

.formats-section article {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

footer a {
  color: var(--color-primary-light);
}

.adres-link {
  font-size: 16px;
  font-weight: 300;
}

.adres-link:hover,
.adres-link:focus,
.adres-link:active {
  color: var(--color-brand);
  font-weight: 600;
}

footer p {
  font-size: 14px;
  color: var(--color-secondary-dark);
}

address {
  font-style: normal;
}
