/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-300.ttf') format('truetype');
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype');
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-600.ttf') format('truetype');
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-900.ttf') format('truetype');
}

:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a18268;
  --color-secondary-light: #cfcfbc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 64px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.link {
  color: var(--color-primary-light);
}

.link:active,
.link:hover,
.link:focus {
  color: var(--color-brand);
  /* font-weight: 600; */
}

.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  font-weight: 600;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:active,
.button:hover,
.button:focus {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.hero-section {
  padding: 272px 0;
  background-image: url(../images/couple-in-bakery.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  font-size: 128px;
  font-weight: 900;
  color: var(--color-primary-light);
  text-align: center;
  margin-bottom: 0;
}

.hero-title .accent,
section .accent {
  color: var(--color-brand);
}

.toUppercase {
  text-transform: uppercase;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.our-advatages-section {
  background-color: var(--color-brand);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  gap: 64px;
}

.advantages-list li {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.advantages-list h3 {
  margin-bottom: 0;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.31;
}

.formats-section article {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-section-text :last-child {
  max-width: 330px;
}

footer a {
  color: var(--color-primary-light);
}

.adres-link {
  font-size: 16px;
  font-weight: 300;
}

.adres-link:hover,
.adres-link:focus,
.adres-link:active {
  color: var(--color-brand);
  /* font-weight: 600; */
}

footer p {
  font-size: 14px;
  color: var(--color-secondary-dark);
}

address {
  font-style: normal;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-section-title,
.contacts-text {
  margin-bottom: 42px;
}

.cookers-section-title,
.formats-section-title {
  margin-bottom: 80px;
  text-align: center;
  /* max-width: 540px;
  margin-left: auto;
  margin-right: auto; */
  position: relative;
}

.cookers-section-title::before,
.cookers-section-title::after {
  /* display: block; */
  content: '';
  width: 352px;
  border: 2px solid var(--color-secondary-light);
  position: absolute;
  bottom: 24px;
}

.cookers-section-title::before {
  left: 0;
}

.cookers-section-title::after {
  right: 0;
}

.contacts-section-title,
.cookers-title,
.formats-title {
  margin-bottom: 16px;
}

.traditions-section-text :not(:last-child) {
  margin-bottom: 42px;
}

.formats-card {
  border-radius: 16px;
  /* border: #31261a solid 1px; */

  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );

  padding: 24px;
  flex-grow: 1;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  display: flex;
  flex-basis: calc((100% - 40px) / 3);
}

.cookers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}

.cookers-item {
  display: flex;
  flex-basis: calc((100% - 30px) / 2);
}

.cookers-card {
  display: flex;
  gap: 30px;
}

.cookers-img {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contaxt-text {
  flex-basis: calc((100% - 32px) / 2);
}

.footer {
  padding: 32px 0;
  flex-grow: 1;

  background-color: var(--color-primary-dark);
  background-image: url(../images/background-footer.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.footer-container {
  display: flex;
  gap: 166px;
}

.footer-nav {
  display: flex;
  gap: 166px;
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon :hover {
  fill: var(--color-brand);
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
  padding: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.contacts-section {
  padding-bottom: 96px;
}

.maps {
  border-radius: 16px;
  overflow: hidden;
}
.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}

.footer::before {
  width: 180px;
  height: 120px;
  background-image: url(../images/decor-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/decor-bread-larg.png);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 880px;
  height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  position: relative;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
