.cookers-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    gap: 40px 30px;
  }
}

.cookers-item {
  @media screen and (min-width: $bp-tablet) {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
  }
}

.cookers-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  @media screen and (min-width: $bp-desctop) {
    gap: 30px;
  }
}

.cookers-img {
  width: 140px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);

  @media screen and (min-width: $bp-desctop) {
    width: 240px;
  }
}

.cookers-title {
  margin-bottom: 16px;
  font-size: 24px;
  @media screen and (min-width: $bp-tablet) {
    font-size: 40px;
  }
}

.cookers-section-text {
  font-size: 14px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
  }
}
