.link {
  color: var(--color-primary-light);
  transition: color 0.3s;
}

.link:active,
.link:hover,
.link:focus {
  color: var(--color-brand);
  /* font-weight: 600; */
}

.adres-link {
  font-size: 16px;
  font-weight: 300;
  transition: color 0.3s;
}

.adres-link:hover,
.adres-link:focus,
.adres-link:active {
  color: var(--color-brand);
  /* font-weight: 600; */
}

.form-term-link {
  color: var(--color-primary-dark);
  text-decoration: underline;
  text-underline-offset: 2px;
}

address {
  font-style: normal;
}

.address-icon {
  fill: var(--color-primary-light);
  transition: fill 0.3s;
}

.address-icon:hover {
  fill: var(--color-brand);
}
