.footer {
  padding: 32px 0;
  flex-grow: 1;

  background-color: var(--color-primary-dark);
  background-image: url(../images/background-footer.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.footer-container {
  text-align: center;
  @media screen and (min-width: $bp-desctop) {
    display: flex;
    text-align: start;
    gap: 166px;
  }
}

.footer-nav {
  @media screen and (min-width: $bp-desctop) {
    display: flex;
    gap: 166px;
  }
}

footer a {
  color: var(--color-primary-light);
}

footer p {
  font-size: 14px;
  color: var(--color-secondary-dark);
}
.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}

.footer::before {
  width: 180px;
  height: 120px;
  background-image: url(../images/decor-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/decor-bread-larg.png);
}

address {
  font-style: normal;
}

.adres-link {
  font-size: 16px;
  font-weight: 300;
  transition: color 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-brand);
  }
}

.address-icon {
  fill: var(--color-primary-light);
  transition: fill 0.3s;

  &:hover {
    fill: var(--color-brand);
  }
}

.footer-logo {
  @media screen and (max-width: $bp-desctop) {
    display: block;
    margin: 0 auto;
    width: 108px;
    margin-bottom: 32px;
  }
}

.footer-nav li,
.footer-address-contacts li {
  @media screen and (max-width: $bp-desctop) {
    margin-bottom: 18px;
  }
}

.privacy-policy a {
  @media screen and (max-width: $bp-desctop) {
    display: block;
    margin-bottom: 8px;
  }
}
