.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $bp-desctop) {
    padding-top: 32px;
  }

  &-container {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  &-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 64px;
  }

  &-menu {
    display: none;
    @media screen and (min-width: $bp-desctop) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &-button {
    display: none;
    @media screen and (min-width: $bp-desctop) {
      display: block;
    }
  }

  &-burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);
    @media screen and (min-width: $bp-desctop) {
      display: none;
    }
  }
}
