.our-advatages-section {
  padding: 16px 0;

  @media screen and (min-width: $bp-desctop) {
    background-color: var(--color-brand);
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-secondary-light);
  border-radius: 24px;
  padding: 24px 40px;

  @media screen and (min-width: $bp-desctop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

.advantages-list li {
  font-size: 14px;
  font-weight: 300;

  @media screen and (min-width: $bp-desctop) {
    font-size: 20px;
    color: var(--color-primary-light);
  }
}

.advantages-list h3 {
  margin-bottom: 0;
}
